---

---

<div class="flex flex-col h-screen w-screen">
  <div class="flex-0 h-auto py-2 shadow-sm tracking-wide text-base">
    <a href="/" class="px-4 inline-flex items-center">
      <img src="/favicon.svg" alt="" class="size-6" />
      <span class="pl-1">首页</span>
    </a>
  </div>
  <div class="flex-1 overflow-auto">
    <slot />
  </div>
</div>
